/* the styles for the elements */
html
{
	background-color: white;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: 0 auto 0 auto;
	width: 600px;
	border: 3px solid #931420;
    background-color:#fffded;
	height:100%;
}


/* these styles for the header */
header{
	    border-bottom: 3px solid #931420;
		padding:10px 0px 20px 40px;
		background-image: -webkit-linear-gradient(  30deg, #f6bb73 0%, #f6bb73 30%, white 50%, white 54%, #f6bb73 80%, #f6bb73 100%);
}
header h2 
{
	font-size: 175%;
	color: #931420;
}
header h3 {
	font-size: 130%;
	font-style: italic;
}
header img {
	float: left;
	padding-right:30px;
	
}
.heading2_san
{
	margin-block-start: 0px;
}
.heading3
{
    margin-block-start: 0px;
    margin-block-end: 0px;	
}
.shadow {
	text-shadow: 2px 2px 2px #800000;
}
/* the styles for the main content */

main {
	clear: left;
	padding:0px 30px 0 30px;
}

main h1 {
	font-size: 150%;
	border-top:3px solid #931420;
	border-bottom:3px solid #931420;
	padding: .3em 0 .3em 0;
    	
	}
	/****************   solution for 5-2  ******************/
	/*main h1{
		font-size:150%;
		border: 5px double #931420;
		border-radius: 6px;
		box-shadow: 5px 5px black;
		padding: 10px 0 10px 50px;
		}*/
main h2 {
	color: #800000;
	font-size: 130%;
	padding: .5em 0 .25em 0;

}

main h3 {
	font-size: 105%;
	padding:0 0 .25em 0;
}
main blockquote
{
	padding: 0 2em 0 2em;
	font-style:italic;
}
main img{
	padding: 0 0 .5em 0;
}
main ul{
	padding: .5em 0 .25em 1.25em;
}
main li{
	padding: 0 0 .35em 0;
}
a:focus, a:hover {
	font-style: italic;
}
/* the styles for the footer */
footer{
	background-color: #931420;
	
}

footer p {
	text-align: center;
	color:white;
    padding: 1em 0 1em 0;
}
.Paragraph
{
	margin-block-end: 0px;
	margin-block-start: 0px;
}
